@import "tailwindcss";

/* 
Forgive, i'm lazy, so CSS is pretty minimal :')
Tailwind has been used in places where i didn't wanna bother writing a class for a single property like flex, margin, etc.
*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: white;
}

a {
    color: white;
}

ul {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #223735;
    flex: 1;
}

.separator {
    border-style: solid;
    border-width: 1px;
    border-color: #465850;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #465850;
}

.barbutton {
    padding: 4px;
    border-color: transparent;
    border-width: 1px;
    text-decoration-line: none;
}

.barbutton:hover {
    border-color: white;
    text-decoration-line: underline;
}

.mono {
    font-family: monospace;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.link {
    text-decoration-line: none;
}

.link:hover {
    text-decoration-line: underline;
}

.bottombar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;

    background-color: #465850;
}

.art-bg {
    background-image: url("res/IMG_20260820_194150390.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.art-main {
    background-color: rgba(0, 0, 0, 0.445);
}

